
.menu{
   
   height: 100%;
   margin: 10px;

   &__logo{
      margin-top: 15vh;
      margin-bottom: 3vh;
      width: 200px;
      height: auto;
      padding-left: 40px;
   }

   &__accordion{
      top: 40vh;
   }

   &__expansion-panel{
      margin-top: 10px;
      margin-bottom: 10px;

      &-icon{
         padding-right: 10px;
      }
      &-icon-hide-toggle{
         padding-right: 20px;
      }
   }

   &__list{
      &-item-link{
         padding-left: 10px;
         padding-right: 10px;
      }
   }
}