.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;

  &__shrink{
     flex-shrink: 3;
     margin-right: 10px;
  }

  &__grow{
     flex-grow: 1;
  }
}

.col {
  flex: 1;
  margin-right: 20px;

  &__right{
     flex: 1;
  }
}

.col:last-child {
  margin-right: 0;
}

.min-width{
   width: 60px;
}